{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row mb-2">
{% for topic in topic_category %}
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 color-gray">{{topic.title_english}}</strong>
        <h3 class="mb-0">
          <a id="id_{{topic.title_english|cut:' '}}" class="color{{ forloop.counter }}" href="#contents">{{topic.title_other}}</a>
        </h3>
        <div class="mb-2"></div>
        <p class="card-text mb-auto card-overflow">
        {{topic.short_description}}
        </p>
      </div>
      <img class="card-img-right flex-auto d-none d-lg-block" src="{% static 'img/cards/' %}{{topic.image_name}}" alt="{{topic.title_english}}">
    </div>
  </div>
{% endfor %}
</div>

<div id="contents" href="#"></div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  {% for topic in topic_category %}
  <li class="nav-item">
      <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="tab-{{ topic.title_english|cut:' ' }}" data-toggle="tab" href="#con-{{ topic.title_english|cut:' ' }}" role="tab" aria-controls="home"
        aria-selected="true">{{ topic.title_other }}</a>
  </li>
  {% endfor %}
</ul>

<div class="tab-content" id="myTabContent">
{% for topic in topic_category %}
  <div class="tab-pane fade {% if forloop.counter == 1 %}show active{% endif %}" id="con-{{ topic.title_english|cut:' ' }}" role="tabpanel" aria-labelledby="tab-{{ topic.title_english|cut:' ' }}">
    <!-- List & Videos Area -->
    <div class="video-border p-3 p-md-5 rounded-right rounded-bottom">
      <div role="tabpanel">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active show" id="list-home-list" data-toggle="tab" href="qcRlYt28WPM" role="tab"
                aria-controls="list-home" aria-selected="true">১. পাইথন কি, কিভাবে পাইথন সেটআপ করতে হয়, কিভাবে কোড লিখে রান করতে হয়</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="tab" href="1m-kyQISM74" role="tab"
                aria-controls="list-profile" aria-selected="false">১.১ পাইথন ৩ উইন্ডোজ মেশিনে যেভাবে ইনস্টোল করব</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="tab" href="YUZZBgKmqO4" role="tab"
                aria-controls="list-profile" aria-selected="false">১.২ PyCharm IDE উইন্ডোজে যেভাবে ইনস্টল করে পাইথন ব‍্যবহার করব</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="tab" href="wYN5ohMh_O4" role="tab"
                aria-controls="list-profile" aria-selected="false">২. পাইথনে কমেন্ট, ভেরিয়েবল এবং অপারেটর</a>
            </div>
          </div>
          <!-- Youtube -->
          <div id="youtube-container" class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade active show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <div class="videoWrapper">
                  <iframe id="youtube-player" type="text/html" width="560" height="315" src="https://www.youtube.com/embed/qcRlYt28WPM" frameborder="0"
                    allowfullscreen></iframe>
                </div>
                <div class="mb-3"></div>
                <div id="youtube-description">
                  <p>Velit aute mollit ipsum ad dolor consectetur nulla officia culpa adipisicing exercitation fugiat tempor.
                    Voluptate deserunt sit sunt nisi aliqua fugiat proident ea ut. Mollit voluptate reprehenderit occaecat
                    nisi ad non minim tempor sunt voluptate consectetur exercitation id ut nulla. Ea et fugiat aliquip nostrud
                    sunt incididunt consectetur culpa aliquip eiusmod dolor. Anim ad Lorem aliqua in cupidatat nisi enim
                    eu nostrud do aliquip veniam minim.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock content %}

{% block script %}
<script>
  {% for topic in topic_category %}
  $("#id_{{topic.title_english|cut:' '}}").on('click', function (e) {
      $("#tab-{{topic.title_english|cut:' '}}").tab('show')
  })
  {% endfor %}

  $('#myTabContent #list-tab a').each(function (index) {
      $(this).on('click', function (e) {
          var href = $(this).attr('href')
          console.log(href)

          var newUrl = "https://www.youtube.com/embed/" + href
          $('#youtube-container iframe').attr('src', newUrl)
      })
  })
</script>
{% endblock script %}